<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>controller.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validarcita</servlet-name>
        <servlet-class>controller.validarcita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarcita</servlet-name>
        <servlet-class>controller.eliminarcita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redireccionar</servlet-name>
        <servlet-class>controller.redireccionar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validaractualizar</servlet-name>
        <servlet-class>controller.validaractualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redireccionar2</servlet-name>
        <servlet-class>controller.redireccionar2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validarcita</servlet-name>
        <url-pattern>/validarcita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarcita</servlet-name>
        <url-pattern>/eliminarcita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redireccionar</servlet-name>
        <url-pattern>/redireccionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validaractualizar</servlet-name>
        <url-pattern>/validaractualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redireccionar2</servlet-name>
        <url-pattern>/redireccionar2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
